<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756940179734-4ohoj1j810o8hck9obr50gibfgvh106f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756940179734-4ohoj1j810o8hck9obr50gibfgvh106f</string>
	<key>API_KEY</key>
	<string>AIzaSyDNfTOpvsFQYdDIZgszKGVAtzGqdAcmdxk</string>
	<key>GCM_SENDER_ID</key>
	<string>756940179734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currencyCounter</string>
	<key>PROJECT_ID</key>
	<string>money-counter-3b836</string>
	<key>STORAGE_BUCKET</key>
	<string>money-counter-3b836.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756940179734:ios:75ad0d5014e2b7ba092837</string>
</dict>
</plist>